.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Grid for display page */
.nameForm{
  grid-area: nameInput;
}

.zipInput{
  grid-area: location;
}

.submitButton{
  grid-area: submitButton;
}

.formGrid{
  display: grid;
  grid-template-areas: 
  'nameInput'
  'location'
  'fordForm'
  'submitButton';
  grid-template-columns: 1fr;
  grid-gap: 30px;
  width: 85%; 
  margin: 0 auto;
  margin-top: 60px;
}

.dashboardHolder{
  width:85%;
  margin: 0 auto
}

/* Grid for profile edit cards */
.editForm{
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: 
  'formTitle formTitle'
  'formInput editBut' 
}

/* Grid for prof dash */
.formTitle{
  grid-area: formTitle;
}

.formInput{
  grid-area: formInput;
}

.nameButton{
  grid-area: editBut;
}

.dashGrid{
  display: grid;
  grid-template-areas: 
  'formTitle formTitle'
  'formInput editBut';
  grid-template-columns: 1fr 5fr;
  width: 80%;
}
